{:foreign-libs [{:file        "three.js/build/three.module.js"
                 :provides    ["THREE"]
                 :module-type :es6}
                {:file        "three.js/examples/jsm/controls/OrbitControls.js"
                 :provides    ["THREE.controls.OrbitControls"]
                 :module-type :es6
                 :requires    ["THREE"]}]}
