{:deps    {org.clojure/clojure       {:mvn/version "1.12.0-beta1"}
           org.clojure/clojurescript {:mvn/version "1.11.132"}}
 :aliases {:socket {:jvm-opts ["-Dclojure.server.repl={:port,5555,:accept,clojure.core.server/repl}"]}}}
