{
 :main            demo
 :optimizations   :advanced
 :output-dir      "out"
 :output-to       "out/index.js"
 :target          :bundle
 :bundle-cmd      {:none    ["npx" "webpack" "out/index.js" "-o" "out/main.js" "--mode=development"]
                   :default ["npx" "webpack" "out/index.js" "-o" "out/main.js"]}
 :closure-defines {cljs.core/*global* "window"} ;; needed for advanced
 :infer-externs   true
}
