{:deps    {org.clojure/clojure       {:mvn/version "1.10.3"}
           org.clojure/clojurescript {:mvn/version "1.10.866"}}
 :aliases {:socket {:jvm-opts ["-Dclojure.server.repl={:port,5555,:accept,clojure.core.server/repl}"]}}}
